<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" >
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
 >
</head>
<body>
<div class ="container">
<h1>Employee Management System</h1>


<hr>
<h2> Update Employee</h2>


<form action= "#" th:action="@{/saveEmployee}" th:obect ="${employee}" 
method="post">
<!-- Ad hidden form field to handle update -->>
<input type ="hidden" th:field="*{id}"/>

<input type ="text" th:field="*{employee.firstname}"
  class= "form-control mb-4 col-4">

<input type ="text" th:field="*{employee.lastname}"
  class= "form-control mb-4 col-4">
 
<input type ="text" th:field="*{employee.email}"
  class= "form-control mb-4 col-4">

<button type="submit"  class ="btn btn-info col-2 md-3">Update Employee</button>
</form>
</div>
</body>
</html>